* {
    margin : 0;
    padding: 0;
}

body {
    font-size : 10px;
    background: rgb(232, 229, 229);
    font-family: "Lato", sans-serif;
}
$maincolor: rgb(122, 36, 62); /////////////////////////////////////////////////////////////
///////
///////                   Nawigacja                   ///////
///////
/////////////////////////////////////////////////////////////

section.header {
    background: url("../images/top_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height    : 70vh;
    position  : relative;
}

section.header nav img.logo {
    width  : 15%;
    height : 15%;
    float  : left;
    padding: 1vh;
}

section.header nav img.nav-icon {
    padding-right: 10px;
}

.navigation {
    position: relative;

    &::after {
        position     : absolute;
        content      : "";
        border-bottom: 1px solid rgba(255,255,255, 0.2);
        top          : 0;
        left         : 0;
        bottom       : 0;
        right        : 0;
        width        : 100%;
        padding      : 0;
        margin       : 0;
    }
}

.nav-list {
    color          : white;
    list-style     : none;
    display        : flex;
    justify-content: flex-end;

    li {
        display    : inline;
        font-size  : 1.6em;
        margin-left: 40px;
        font-weight: 400;
        padding    : 3vh 0;
    }
}
/////////////////////////////////////////////////////////////
///////
///////                    Header                    ///////
///////
/////////////////////////////////////////////////////////////

.main-header h1 {
    font-weight   : 100;
    text-transform: uppercase;
    color         : rgba(255,255,255,0.6);
    text-align    : center;
    margin-top    : 60px;

    span {

        color      : rgba(255,255,255,1);
    }
}

.main-header .header-content {
    margin-top : 30px;
    font-size  : 1.6em;
    color      : white;
    display    : block;
    text-align : center;
    font-weight: 100;

    span {
        font-weight: bold;
    }
}

.main-header button {
    display      : block;
    background   : #ff7701;
    border       : none;
    padding      : 20px 30px;
    border-radius: 50px;
    font-size    : 2em;
    font-weight  : bold;
    color        : white;
    margin       : 50px auto;
}
/////////////////////////////////////////////////////////////
///////
///////                 Tabela usług                  ///////
///////
/////////////////////////////////////////////////////////////

.offer-table {
    position: absolute;
    top     : 50vh;
    bottom  : 0;
    left    : 0;
    right   : 0;
}

.offer-box {
    background   : white;
    border-radius: 10px;

    .first-row,
    .second-row {
        .row {
            margin: 0 !important;
        }

        .item {
            border-bottom: 1px solid rgba(0,0,0,0.1);
            border-left  : 1px solid rgba(0,0,0,0.1);
            padding      : 2% 5%;

            .fas {
                margin-right: 10px;
                font-size   : 1.3em;
                color       : $maincolor;
            }

            span {
                font-size  : 1.4em;
                line-height: 1px;
                color      : rgba(0,0,0,0.5);
            }

            h4 {
                font-size     : 2em;
                font-weight: bold;
                padding-bottom: 15px;
                color         : $maincolor;
                    .offer-icon {
                        padding-right: 15px;
                    }
            }

            .link-box {
                margin-top     : 10px;
                display        : flex;
                justify-content: flex-end;
                font-size      : 1.3em;

                .link {
                    color         : #ff7701;
                    position      : relative;
                    padding-bottom: 3px;
                    border-bottom : 1px solid #ff7701;
                    padding-left  : 10px;

                    &::after {
                        margin-top   : 22px;
                        position     : absolute;
                        content      : "";
                        border-bottom: 1px solid white;
                        top          : 0;
                        bottom       : 0;
                        right        : 0;
                        left         : 50%;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .second-row {
        .item {
            border-bottom: none;
        }
    }
}
/////////////////////////////////////////////////////////////
///////
///////                     Slider                    ///////
///////
/////////////////////////////////////////////////////////////

.middle-content {
    text-align: center;
    display   : block;
    margin-top: 40vh;

    [class*="-item"] {
        padding: 0 5%;
        position: relative;
        [class*="item-bg"] {
            position: absolute;
            background-image: url("../images/rzetelne.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 65%;
            left: 0;
            height: 100%;
            width: 100%;
        }
        .item-bg2 {
            background-image: url("../images/terminowe.png");
        }
        .item-bg3 {
            background-image: url("../images/profesjonalne.png");
        }
        h3 {
            margin-bottom : 45px;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size     : 2.5em;
            font-weight   : bold;
            color         : $maincolor;
        }

        span {
            font-size: 1.2em;
            color    : rgba(0,0,0,0.4);
        }
    }
}

.quote-box {
    text-align   : left;
    margin       : 8vh 0;
    border-radius: 10px;
    background   : white;
    height       : 15vh;

    .quote {
        width : 100%;
        height: 100%;

        [class*="-slide"] {
            width  : 100%;
            padding: 20px 60px;

            img {
                height  : 11vh;
                position: relative;
            }

            .identity {
                position: absolute;
                top     : 32%;
                bottom  : 0;
                right   : 100px;
                left    : -40px;

                span {
                    font-size: 1.4em;
                    float    : left;
                }

                span:last-child {
                    font-weight: bold;
                }
            }

            .testimonial {
                position   : relative;
                font-size  : 1.4em;
                color      : rgba(0,0,0,0.6);
                font-weight: bold;
                display    : flex;
                margin-top : 3%;
            }

            .fa-quote-right {
                opacity  : 0.1;
                font-size: 8em;
                position : absolute;
                top      : 10%;
                bottom   : 0;
                right    : 20%;
                left     : -9%;
            }
        }
    }
}
/////////////////////////////////////////////////////////////
///////
///////                 Formularz                     ///////
///////
/////////////////////////////////////////////////////////////

section.callback {
    padding-top: 100px;
    background : url("../images/orange_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height     : 52vh;

    .header {
        span {
            display       : block;
            text-align    : center;
            text-transform: uppercase;
            color         : white;
            font-weight   : 100;
            font-size     : 3em;
            line-height   : 100%;
        }

        span:nth-child(2) {
            font-weight: bold;
        }

        .centered {
            display        : flex;
            justify-content: center;

            input {
                opacity       : 0.75;
                background    : transparent;
                border        : none;
                border-bottom : 1px solid rgb(255,255,255);
                margin-top    : 50px;
                margin-left   : 20px;
                width         : 25%;
                color         : white;
                font-size     : 1.2em;
                padding-bottom: 5px;

                &::placeholder {
                    color: white;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        label {
            position  : relative;
            display   : block;
            margin    : auto;
            width     : 60%;
            margin-top: 30px;
            font-size : 1.1em;
            text-align: justify;
            color: rgba(255,255,255,0.4);
            input {
                position: relative;
                top: 3px;
                left: -20px;
            }
        }
        button {
            display      : block;
            background   : $maincolor;
            border       : none;
            padding      : 5px 50px;
            border-radius: 50px;
            font-size    : 2em;
            font-weight  : bold;
            color        : white;
            margin       : 30px auto;
        }
    }
}

/////////////////////////////////////////////////////////////
///////
///////                 Comment Title                 ///////
///////
/////////////////////////////////////////////////////////////
section.footer {
    display: flex;
        .first-row {
            min-height: 10vh;
        }
        .second-row {
            .item {
                padding: 20px 10px;
            }
        }
        .item {
            padding: 30px 30px;

            .positioning-img {
                display: flex;
                justify-content: flex-end;
            }
            img {
                width:60%;
            }
            .positioning-content {
                display: flex;
                flex-direction: column;
                margin-top:7%;
            }
            span {
                color: $maincolor;
                font-size: 2.4em;
                    .footer-icon1 {
                        max-width: 20px;
                        margin-right: 10px;
                        margin-bottom: 15px;
                    }
                    .footer-icon2 {
                        max-width: 30px;
                        margin-right: 10px;
                        margin-left: -10px;
                        margin-bottom: 10px;
                    }
            }
            button {
                padding: 15px 40px;
                border-radius: 45px;
                border: none;
                background: rgb(164, 165, 180);
                color: white;
                font-size: 2em;
                cursor: pointer;
                    &:hover {
                        background: rgb(153, 154, 168);
                        transition: background 0.5s;
                    }
            }
        }
}
